PORT=3001
DATABASE_URL=postgresql://usuario:contraseña@host/stavjeans_db?sslmode=require
JWT_SECRET=tu_secreto_aqui
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
CLIENT_URL=http://localhost:5173
